<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Email Group
            <small>Listing</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> <a href="index.html">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Email Groups
            </li>
        </ol>
        
        <div class="table-responsive col-lg-6">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of emails</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="emailGroup in vm.emailGroups">
                        <td><a ui-sref="emailGroupDetails({emailGroupId:emailGroup.id})">{{ emailGroup.name }}</a></td>
                        <td>{{ emailGroup.numEmails }}</td>
                        <td><a class="btn btn-sm btn-danger" ng-click="vm.groupDelete(emailGroup.id)" style="width:85px"><i class="glyphicon glyphicon-minus-sign"></i> Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a class="col-lg-offset-1 col-lg-2 btn btn-default" ui-sref="emailGroupMerge" style="width:160px"><i class="glyphicon glyphicon-copy"></i> Merge Groups</a>

        <a class="col-lg-offset-1 col-lg-2 btn btn-default" ui-sref="emailGroupEdit({emailGroupId:0})" style="width:160px"><i class="glyphicon glyphicon-plus-sign"></i> Create new group</a>

    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="form-group "
         ng-show="vm.message">
        <div class="col-lg-6">
            <pre style="font: inherit">{{vm.message }}</pre>
        </div>
    </div>
</div>